# === Carpetas generadas ===
build/
dist/

# === NetBeans config privada ===
nbproject/private/

# === Compilados ===
*.class
*.jar
*.war
*.ear
*.log

# === Archivos del sistema ===
.DS_Store
Thumbs.db

# === Opcional: generados por JFlex/CUP ===
*Lexer.java
*parser.java
sym.java